<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ODTÜ ESKRİM", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Ana Sayfa", root_path %></li>
        <li><%= link_to "Eskrim", 'eskrim' %></li>
        <li><%= link_to "Antrenmanlar", 'antrenmanlar' %></li>
        <li><%= link_to "Takımımız", 'takimimiz' %></li>
        <li><%= link_to "Duyurular", 'duyurular' %></li>
        <li><%= link_to "İletişim", 'iletisim' %></li>
      </ul>
    </nav>
  </div>
</nav>